

<%- include('../components/header') %>

<div class="showQuestion">
    <h2><%= question.question %></h2>
    <p><%= question.description %></p>
   
    
    <div class="questionBtn">
        <a class="btn btn-warning" href="/edit-question/<%= question.id %>">Edit Question</a>
        <a class="btn btn-danger" href="/delete-question/<%= question.id %>">Delete Question</a>
    </div>
</div>


    <% if(answers.length){ %>
        <% answers.forEach( answer => { %>
            <div class="card">
                <div class="card-header answer-header">
                    This Answer is from : <span><%= answer.user_id.userName %> </span>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= answer.answer %></h5>
                    
                </div>
            </div>
        <% }) %>
    <% } else { %>
        <p class="card card-header answer-header card-body">There is No answer</p>
    <% } %>
    <div>



    <form method="POST" action="/answerQuestion/<%= question._id %>" class="log_form">
        <div class="mb-3">
            <label for="answer" class="form-label">Answer This Question :</label>
            <textarea name="answer" class="form-control" id="answer" rows="3"></textarea>
            <small class="form-text warning answer">warning  </small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


    <%- include('../components/footer') %>